@font-face {
    font-family: 'warpen';
    src: url('../../warpen/Warpen.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: 'warpen', sans-serif;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

body {
    text-decoration: none;
    color: aliceblue;
    background: url('../controls.png') no-repeat center center fixed;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.gamelist {
    padding: 20px;
    display: flex;
    justify-content: center;
    width: 100%;
}

.gamelist ul {
    display: flex;
}

.gamelist li {
    margin: 0 20px;
}

a {
    color: aliceblue;
    text-decoration: none;
}

a:hover {
    color: rgb(0, 129, 129);
}

.glow:hover {
    color: #ffffff;
    text-shadow: 
        0 0 5px #ffffff,
        0 0 10px #ffffff,
        0 0 15px #ffffff,
        0 0 20px #ffffff,
        0 0 25px #ffffff;
    transition: color 0.02s ease, text-shadow 0.3s ease;
}
